body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #92ef679f;
  color: #e90cb2;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.AveRtn {
  color: #9222dd;
}

